<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block body_block %}

    
    <div class="jumbotron">
      {% if registered%}
       <h1>thany for registration</h1>
      {% else %}
      <h1> register here!</h1>
      <h3>fill the form </h3>
      
      <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {{ user_form }}
      {{ profile_form }}
      <input type="submit" name="" value="register">
      </form>
      {% endif %}
    </div>
    
{% endblock %}
